			body{
				top:0px;
                left:0px;
                right:0px;
                bottom:0px;
                margin-top:0px;
                margin-left:0px;
                margin-right:0px;
                margin-bottom:0px;
                min-height:100%;
				margin:0 auto;
				font-family:roboto;
				background-image:linear-gradient(to right, #03C9A9, #019875, #1E824C);
			}

			a{
				color:#000;
				text-decoration:none;
				transition:all 0.5s ease;
				-webkit-transition:all 0.5s ease;
			}

			a:hover{
				color:#eee;
			}

			.header{
				position:absolute;
				margin-left:0px;
				margin-top:0px;
				margin-right:0px;
				z-index:9;
				width:100%;
				height:110px;
				font-family:montserrat;
				font-weight:bold;
				color:#2E7A52;
				text-align:center;
				background:#ffffff;
				font-size:50px;
				padding:30px;
				box-sizing:border-box;
			}
			.subtitle{
				position:absolute;
				width:100%;
				height:100%;
				background-image:url(images/IMG_0191.JPG);
				background-size:cover;
				background-position:center;
				margin-left:0px;
				line-height:24px;
				margin-top:0px;
				margin-right:0px;
				color:#111;
				font-size:18px;
				box-sizing:border-box;
				text-align:left;
			}

			.cover{
				position:absolute;
				margin-top:0px;
				margin-left:0px;
				width:100%;
				height:100%;
				background:#2E7A52;
				opacity:0.1;
				z-index:4;
			}
			.navbar{
				position:absolute;
				width:100%;
				margin-left:0px;
				margin-top:110px;
				z-index:9;
				margin-right:0px;
				color:#111;
				font-style:italic;
				background:#eee;
				border-top:1px solid #ddd;
				border-bottom:1px solid #ddd;
				font-family:roboto;
				font-size:16px;
				padding:7px;
				box-sizing:border-box;
				text-align:center;
			}
			.navbar a{
				display:inline-block;
				background:#2E7A52;
				color:#fff;
				font-style:normal;
				margin-left:10px;
				text-decoration: none;
				margin-top:5px;
				margin-bottom:5px;
				padding:7px;
				box-sizing:border-box;
				border:1px solid #2E7A52;
				transition:all 0.5s ease;
				-webkit-transition:all 0.5s ease;
			}


			.navbar a:hover{
				color:#2E7A52;
				background:#FFFFFF;
				border-radius:15px;

			}

			.text{
				font-size:20px;
				line-height:30px;
				margin-bottom:15px;
			}

			.content{
				position:absolute;
				width:100%;
				margin-left:0px;
				margin-top:50%;
				line-height:24px;
				margin-right:0px;
				color:#111;
				background:#fff;
				font-size:18px;
				padding:20px;
				padding-top:10px;
				box-sizing:border-box;
				text-align:left;
			}

			.content img{
				display:block;
				margin:0 auto;
			}

			.title{
				font-family:montserrat;
				font-weight:bold;
				color:#2E7A52;
				font-size:24px;
				line-height:30px;
				margin-bottom:5px;
				border-bottom:1px solid #ddd;
				padding:10px;
				transition:all 0.5s ease;
				-webkit-transition:all 0.5s ease;
			}

			.stuff{
				padding:10px;
			}

			.footer{
				position:relative;
				width:100%;
				color:#111;
				margin-top:10px;
				background:#fff;
				border-top:1px solid #ccc;
				font-size:16px;
				box-sizing:border-box;
				text-align:left;
			}

			td{
				border:1px solid #ccc;
			}

            ::-webkit-scrollbar{
                width:10px;
            }
            ::-webkit-scrollbar-thumb{
                background-color:#2E7A52;
                border-left:1px solid #ccc;
            }
            ::-webkit-scrollbar-track{
                background-color:#fff;
                border:1px solid #ccc;
            }